#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: purple;
  color: #fff;
  height: 100vh;
}

#quote-box{
  flex-direction: column;
  background-color: #fff;
  padding: 50px;
  width: 30vw;
  border-radius: 3px;
  color: purple;
}

.quote-text {
  text-align: center;
  font-size: 2em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.quote-author {
  padding-top: 15px;
  text-align: right;
  font-style: italic;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.button {
  cursor: pointer;
  color: white;
  background-color: purple;
  border-radius: 3px;
}

.button:hover {
  opacity: 0.7;
}

#new-quote {
  font-size: 0.85em;
  height: 30px;
  padding: 4px 20px 6px 20px;
  border-style: none;
}

.footer {
  padding-top: 10px;
  color: white;
  font-size: 0.85em;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: white;
  text-decoration: none;
  opacity: 0.7;
}

i {
  width: 50px;
  height: 30px;
  text-align: center;
  padding-top: 6px;
}

i:hover {
  color: white;
}

#new {
margin-left: auto;
}

@media screen and (max-width: 800px)
{
#quote-box {
  width: 70%;
}
.quote-text {
  font-size: 1em;
}
.quote-author {
  font-size: 7px;
}  
}
